{% extends "base.html" %}

{% block content %}

<div class="right_content clearfix">
	<h3 class="common_title2">全部订单</h3>

	{% comment %} 获取订单信息 {% endcomment %}
	{% for order in page %}  
	
	<ul class="order_list_th w978 clearfix">
		<li class="col01">{{ order.odate }}</li>
		<li class="col02">订单号：{{ order.oid }}</li>
		<li class="col02 stress">{{ order.o_is_pay|yesno:'已支付,未支付,未知' }}</li>
	</ul>

	<table class="order_list_table w980">
		<tbody>
			<tr>
				<td width="55%">

				{% for sku in order.order_skus %}

					<ul class="order_goods_list clearfix">
						<li class="col01"><img src="/static/{{ sku.goods.gpicture }}"></li>
						<li class="col02">{{ sku.goods.gtitle }}<em>{{ sku.price }}/{{ sku.goods.gunit }}</em></li>
						<li class="col03">{{ sku.count }}</li>
						<li class="col04">{{ sku.amount|floatformat:2 }}</li>
					</ul>
				
				{% endfor %}
				
				</td>
				<td width="15%">{{ order.ototal }}元</td>
				<td width="15%">{{ order.o_is_pay|yesno:'已付款,待付款,未知' }}</td>
				<td width="15%"><a href="#" class="oper_btn">{{ order.o_is_pay|yesno:'查看物流,去付款,未知' }}</a></td>
			</tr>
		</tbody>
	</table>	

	{% endfor %}

	<div class="pagenation">
	{% if page.has_previous %}
		<a href="/order/detail/{{ page.previous_page_number }}/">
			上一页
		</a>
	{% endif %}

	{% for pindex in pagin.page_range %}
		{% if pindex == page.number %}
			<a href="#" calss="active">{{ pindex }}</a>
		{% else %}
			<a href="/order/detail/{{ pindex }}/" calss="active">{{ pindex }}</a>
		{% endif %}
	{% endfor %}
			
	{% if page.has_next %}
		<a href="/order/detail/{{ page.next_page_number }}/">下一页</a>
	{% endif %}
	</div>
</div>


{% endblock content %}