{% extends 'df_goods/base.html' %}

{% block search_result %}

{% comment %} 呈现检索列表结果 {% endcomment %}
<ul class="goods_type_list clearfix">

{% if query %}
	
	{% for g in page.object_list %}
	
		<li>
			<a href="/detail_{{ g.object.id }}/"><img src="/static/{{ g.object.gpicture }}"></a>
			<h4><a href="/detail_{{ g.object.id }}/">{{ g.object.gtitle }}</a></h4>
			<div class="operate">
				<span class="prize">￥{{ g.object.gprice }}</span>
				<span class="unit">{{ g.object.gprice }}/{{ g.object.gunit }}</span>
				<a href="{% url 'cart:add2cart' gid=g.object.id count=1 %}" class="add_goods" title="加入购物车"></a>
			</div>
		</li>
	
	{% empty %}

		<li>啥也没找到</li>

	{% endfor %}

	{% if page.has_previous or page.has_next %}
		<div>
		{% if page.has_previous %}
			<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>
		{% endif %}
		|
		{% if page.has_next %}
			<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>
		{% endif %}
		</div>
	{% endif %}

{% endif %}
</ul>


{% endblock search_result %}


