{% extends "base_foot.html" %}

{% block body %}

<div class="header_con">
	<div class="header">
		<div class="welcome fl">欢迎来到天天生鲜!</div>
		<div class="fr">
			{% if request.session.user_id %} {# 如果有用户 #}
				
				<div class="login_info fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
					<span>|</span>
					<a href="{% url 'user:logout' %}">退出</a>
				</div>
			{% else %} {# 如果没有用户 #}
				<div class="login_btn fl">
					<a href="{% url 'user:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'user:register' %}">注册</a>
				</div>
			{% endif %}


			<div class="user_link fl">
				<span>|</span>
				<a href="{% url 'user:info' %}">用户中心</a>
				<span>|</span>
				<a href="{% url 'cart:cart' %}">我的购物车</a>
				<span>|</span>
				<a href="/order/detail/1/">我的订单</a>
			</div>
		</div>
	</div>
</div>

{% if user_page == 1 %}
<div class="search_bar clearfix">
	<a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
	<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
	<div class="search_con fr">
		<form action="/search/" method="get" target="_blank">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" value="搜索">
		</form>
	</div>
</div>

<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="{% url 'user:info' %}"  {% if left == 1 %}class="active"{% endif %} >· 个人信息</a></li>
			<li><a href="/order/detail/1/" {% if left == 2 %}class="active"{% endif %}>· 全部订单</a></li>
			<li><a href="{% url 'user:site' %}" {% if left == 3 %}class="active"{% endif %}>· 收货地址</a></li>
		</ul>
	</div>

{% elif guster_page == 1 %}
	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<form action="/search/" method="get" target="_blank">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:cart' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ count }}</div>
		</div>
	</div>

{% elif cart_page == 1 %}
	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
		<div class="search_con fr">
			<form action="/search/" method="get" target="_blank">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" value="搜索">
			</form>
		</div>
	</div>
{% endif %}


{% block content %}
{% endblock content %}
</div>
{% endblock body %}